In [1]:
import numpy as np 
import pandas as pd

df = pd.DataFrame( 
    np.random.rand(100, 2), 
    columns=[f"f_{i}" for i in range(1, 3)] 
)

df

         f_1       f_2
0   0.331583  0.730199
1   0.820393  0.157064
2   0.200666  0.708438
3   0.997717  0.253954
4   0.744023  0.670500
..       ...       ...
95  0.872770  0.325953
96  0.399137  0.494609
97  0.240925  0.104899
98  0.090982  0.711529
99  0.691588  0.810609

[100 rows x 2 columns]

In [4]:
from sklearn import preprocessing 
pf = preprocessing.PolynomialFeatures( 
    degree=2, 
    interaction_only=False, 
    include_bias=False 
) 

pf.fit(df) 

poly_feats = pf.transform(df)  
num_feats = poly_feats.shape[1] 
df_transformed = pd.DataFrame( 
    poly_feats, 
    columns=[f"f_{i}" for i in range(1, num_feats + 1)] 
) 

df_transformed

         f_1       f_2       f_3       f_4       f_5
0   0.331583  0.730199  0.109948  0.242122  0.533190
1   0.820393  0.157064  0.673045  0.128854  0.024669
2   0.200666  0.708438  0.040267  0.142160  0.501884
3   0.997717  0.253954  0.995440  0.253374  0.064493
4   0.744023  0.670500  0.553570  0.498867  0.449570
..       ...       ...       ...       ...       ...
95  0.872770  0.325953  0.761728  0.284482  0.106246
96  0.399137  0.494609  0.159310  0.197417  0.244638
97  0.240925  0.104899  0.058045  0.025273  0.011004
98  0.090982  0.711529  0.008278  0.064736  0.506273
99  0.691588  0.810609  0.478295  0.560608  0.657086

[100 rows x 5 columns]

In [6]:
df["f_bin_10"] = pd.cut(df["f_1"], bins=10, labels=False) 
df["f_bin_100"] = pd.cut(df["f_1"], bins=100, labels=False)

df

         f_1       f_2  f_bin_10  f_bin_100
0   0.331583  0.730199         3         31
1   0.820393  0.157064         8         81
2   0.200666  0.708438         1         18
3   0.997717  0.253954         9         99
4   0.744023  0.670500         7         74
..       ...       ...       ...        ...
95  0.872770  0.325953         8         87
96  0.399137  0.494609         3         38
97  0.240925  0.104899         2         22
98  0.090982  0.711529         0          7
99  0.691588  0.810609         6         68

[100 rows x 4 columns]